.search{
    margin-top: 50px;
    margin-bottom: 150px;
}

.image-upload > input {
  display: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.btn{
    color: dimgray;
}

.inputfile:hover {
    color: red;
}